//字体颜色
$fontColorTitle: #1f2d3d; //颜色用于：标题的字体，正文字体，表格内部文字，其他主要字体
$fontColorSubTitle: #475669; //颜色用于：副标题，侧边导航栏的字体，表单表头, 操作框项（选项）文字
$fontColorDisable: #8492a6; //颜色用于：第三层级的文字，鼠标hover状态下的文字，禁用状态文字（有颜色背景下）
$fontColorTip: #99a9bf; //颜色用于：提示性文字（选择框，弹窗里的提示文字）
$fontColorCoyness: #c0ccda; //颜色用于：不显眼的文字，无法选中的文字
$fontColorWhite: #ffffff; //颜色用于：反白文字，带颜色
//背景颜色
$bgColorTip: #1f2d3d; //颜色用于：悬浮框文字提醒背景
$bgColorNav: #324057; //颜色用于：顶部导航栏背景
$bgColorNavSelected: #d3dce6; //颜色用于：导航栏选中的背景
$bgColorTableHeader: #e5e9f2; //颜色用于：表格的表头，侧边栏导航二级展开背景
$bgColorDisabled: #ffffff; //颜色用于：禁用状态背景，侧边导航栏背景选择框选择选项的背景
$bgColorCrumbs: #f9fafc; //颜色用于：列表（除去表头）之外的背景，面包屑栏背景，输入框不可选背景,表格列表的hover状态背景
$bgColorTotal: #ffffff; //颜色用于：大面积的背景
//边框颜色
$borderColorHover: #8492a6; //颜色用于：鼠标的hover状态下的边框
$borderColorOpera: #c0ccda; //颜色用于：常态下各项操作框、表单框的颜色、白色背景的按钮框
$borderColorTip: #d3dce6; //颜色用于：分页框、标签框、提示框
$borderColorTable: #e0e6ed; //颜色用于：间隔线、列表表格框、图标框、
//default三种颜色
$defaultColorHover: #58b7ff;
$defaultColorNormal: #20a0ff;
$defaultColorActive: #1d8ce0;
//警告三种状态颜色
$warnColorHover: #ffd063; //警告hover态
$warnColorNormal: #f7ba2a; //警告normal态
$warnColorActive: #e3ab29; //警告active态
//消极态三种颜色
$negativeColorHover: #ff8686; //
$negativeColorNormal: #ff4949;
$negativeColorActive: #e04141;
