html,
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  // width: 100%;
  // font-family: -apple-system-font, 'Microsoft YaHei', 'Helvetica Neue', sans-serif;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","SimSun",sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-weight: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary {
  display: block;
}

input {
  border: 0;
  outline: none;
  box-shadow: none;
}

button {
  border: 0;
  outline: none;
  box-shadow: none;
  user-select: none;
  -webkit-user-select: none;
}

input,
button,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  resize: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='date']::-webkit-clear-button {
  display: none;
}
