@import 'reset';
@import 'color';
@import 'mixin';
@import 'iconfont';
@import 'element-variables';
/*
  页面公共样式
*/

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.el-submenu .el-menu-item {
  min-width: auto;
}

/* 面包屑处样式 */
.common-bread-zone {
  height: 48px;
  background: $bgColorCrumbs;
  border-bottom: 1px solid $borderColorTable;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  .bread-crumb-left {
    display: inline-block;
    padding-left: 16px;
    line-height: 48px;
  }
  .top-search-input {
    position: absolute;
    right: 20px;
    top: 9px;
    width: 310px;
  }
}

/* 主体内容块 */
.common-content-zone {
  position: absolute;
  left: 0;
  top: 48px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  &::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #999;
    border-radius: 7px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
  }
  &::-webkit-scrollbar {
    width: 16px;
    height: 10px;
  }
}

// 两列布局样式
.view-all {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 1103px;

  .view-top{
    position: relative;
    z-index: 1000;
  }
  .view-right{
    position: absolute;
    top: 50px;
    left: 180px;
    right: 0;
    bottom: 0;
    background: #f0f2f5;
    @include transition(left .3s ease);
    &.is-change {
      left: 48px;
    }
  }
}
